ul.github-list {

  max-height: 180px;
  width: 80%;
  padding: 10px 5px;
  border: solid 2px #666;
  border-radius: 10px/10px;
  text-align: left;
  overflow: auto;

  li.github-item {
    list-style-type: none;
  }
}
