.menu {
  margin: 30px;
}

.container {
  text-align: center;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-ItemList {
    margin: 10px;
    width: 300px;
    max-width: 100%;

    &_Title {
      background-color: #222;
      text-align: center;
      color: #fff;
    }

    &_Items {
      margin: 0;
      padding-left: 0;
      text-align: left;
      overflow: auto;
      list-style-type: none;
    }

    &_Item {
      border: thin solid #ddd;
      padding: 3px;
    }

    .load-menu {
      text-align: center;
      cursor: pointer;
    }
  }
}

.repo-icon {
  width: 30px;
  text-align: center;
}
