@import "tailwindcss";

@theme {
  --font-sans: "Inconsolata", "Helvetica Neue", "ヒラギノ角ゴ ProN W3",
    sans-serif;
}

@layer base {
  a {
    color: inherit;
    text-decoration: none;
  }
}

@keyframes swing-logo {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(25deg);
  }
  75% {
    transform: rotate(-25deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes slidein {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

